<h1>Square Root Results</h1>

<div>Minimum</div>
<div> <%= @min %> </div>

<div>Maximum</div>
<div> <%= @max %> </div>

<div>Random Number</div>
<div> <%= @calc %> </div>

<div></div>

<a href="/random/new">Pick another random number</a>
