  <form action="/square/"?>
  <label for="number">Enter a number</label>
  <input id="number", type="text", name="number", placeholder="What number do you want to square?">

  <button>Calculate square</button>
  </form>
