  <form action="/square_root/"?>
  <label for="user_number">Enter a number</label>
  <input id="user_number", type="text", name="user_number", placeholder="What number do you want the square root of?">

  <button>Calculate square root</button>
  </form>
